@font-face {
    font-family: 'montserrat_alternatesblack';
    src: url('montserratalternates-black-webfont.woff2') format('woff2'),
         url('montserratalternates-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'remachine';
    src: url('RemachineScript_Personal_Use.ttf');
}



@font-face {
    font-family: 'montserrat_alternatesbold';
    src: url('montserratalternates-bold-webfont.woff2') format('woff2'),
         url('montserratalternates-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesXBd';
    src: url('montserratalternates-extrabold-webfont.woff2') format('woff2'),
         url('montserratalternates-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesXLt';
    src: url('montserratalternates-extralight-webfont.woff2') format('woff2'),
         url('montserratalternates-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternateslight';
    src: url('montserratalternates-light-webfont.woff2') format('woff2'),
         url('montserratalternates-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesmedium';
    src: url('montserratalternates-medium-webfont.woff2') format('woff2'),
         url('montserratalternates-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('montserratalternates-regular-webfont.woff2') format('woff2'),
         url('montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatessemibold';
    src: url('montserratalternates-semibold-webfont.woff2') format('woff2'),
         url('montserratalternates-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesthin';
    src: url('montserratalternates-thin-webfont.woff2') format('woff2'),
         url('montserratalternates-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratblack';
    src: url('montserrat-black-webfont.woff2') format('woff2'),
         url('montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.woff2') format('woff2'),
         url('montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextrabold';
    src: url('montserrat-extrabold-webfont.woff2') format('woff2'),
         url('montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'andale_mono_mt_stdbold';
    src: url('andale-mono-mt-std-bold-5923fbb9dcb74-webfont.woff2') format('woff2'),
         url('andale-mono-mt-std-bold-5923fbb9dcb74-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.home {
    vertical-align: middle;
    background: url('../images/accueil.png') no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.entete{
	display: flex;
	justify-content: space-between;
	width: 100%;


}

.affiche{
	position: relative;
	margin-left: -450px;
	margin-top: 20px;
}

.affiche img{
	
	width: 150px;
	height: 200px;

}

.home .navbar-default {
    background-color: rgba(255, 255, 255, 0);
    border: none;
   margin-left: 150px;
}

.home .navbar-header .navbar-nav > li > a {
    color: #000000;
    font-family: Montserrat, light;
    font-size: 14px;
    position: relative;
    margin-top: 40px;

   }

.recherche {
    background: #818386;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: none;
    text-align: center;  

 }


.titre-principal {
    margin-top: 15px;
    color: #ffffff;
    text-align: center;
}

.titre-principal img{
	width: 700px;
}

.titre-principal h2{
	font-size: 32px;
	color: #EC0827;
	letter-spacing: 5px;
	margin-top: 20px;
}

.titre-principal h3{
	font-size: 30px;
	letter-spacing: 5px;
	margin-top: 30px;
}


 .propulse {
    position: absolute;
    right: 5px;
    bottom: -20px;
    border: none;
}


section{
    display: flex;
 }


.accueil-paragraphe{
	background-size: cover;
	position: relative;
	text-align: center;
    margin-left: 30px;
    font-size: 12px;
}

.presentation_filiere{
	display: flex;
}

.presentation_filiere img{
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
}

.section-content {
	background-size: cover;
	position: relative;
	text-align: center;
    margin-left: 80px;
    font-size: 12px;
}

h2{
	font-family: Andale Mono MT Std, bold;
	font-size: 20px;
	color: #000000;
}

p{
	font-family: remachine, light;
	font-size: 12px;
}

.btn-rouge {
    background: #EC0827 ;
    color: #ffffff;
    font-family: remachine, semibold;
    text-align: center;
}

.btn-grey {
    background: #818386;
    border-radius: 30px;
    font-family: Montserrat, light;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
}


.banniere {
    width: 100%;
    height: 350px;
    position: relative;
    background-color: #D43456;
}

.banniere img{
	position: absolute;
	left: 40%;
	margin-top: 25px;
    width: 300px;
    height: 300px;
}

.banniere p {
    position: absolute;
    bottom: 0;
    right: 15px;
}

.btn-orange{
	background: #FB9C2F;
    border-radius: 30px;
    font-family: Montserrat, light;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}

.btn-lg {
    padding-top: 20px;
    margin-top: 50px;
    border-radius: 30px;
    width: 300px;
    height: 70px;
    font-size: 18px;
}

.btn-md {
    padding-top: 10px;
    margin-top: 30px;
    width: 213px;
    height: 50px;
    font-size: 16px;
}

.align-right {
    text-align: center;
}

.logo {
    width: 300px;
    height: 300px;
}



.titre_partenaires {
  text-align: center;
  padding: 0;
  font-family: Montserrat, regular;
  font-size: 30px;
}

.bloc-partenaires{
	display: flex;
	flex-direction: wrap;
	height: 300px;
	
}

.bloc-partenaires img{
	max-width: 150px;
	max-height: 80px;
	width: 150px;
	height: 200px;
	margin-top: 20px;

}

.partenaires {
  	width: 100%;
   	margin: 5px;
 	padding: 0;
 	position: relative;
}

footer {
    margin: 10px 0 0 0;
    background-color: #F5F5F6;
    display: flex;
    flex-direction: column-reverse;
}

footer .container-fluid{
	display: flex;
	
}

footer .navbar-default {
    
    align-items: center;

}

.pied-de-page{
	display: flex;
	
}

.newsletter{
	display: flex;
	justify-content: center;
}

ul .navbar.nav{
	text-align: center;
}

.img-footer {
    margin: 0 0 0 15px;

}

.social a  {
    border: none;
    width: 200px;
    background-color: #F5F5F6;
}


.btn-newsletter {
    margin: 10px 0 10px 0;
    font-family: Montserrat, regular;
    font-size: 14px;
    color: #ffffff;
}


.paragraphe-newsletter {
    margin: 0px 0 0 0;

}

.align-bottom {
    display: flex;
}

.align-bottom-item {
  display: flex;
  align-items: flex-end;
  margin: 0 0 10px 0;
}

.align-top-item {
  display: flex;
  align-items: flex-start;
  margin: 0 0 10px 0;
}
