@font-face {
    font-family: 'montserrat_alternatesblack';
    src: url('montserratalternates-black-webfont.woff2') format('woff2'),
         url('montserratalternates-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesbold';
    src: url('montserratalternates-bold-webfont.woff2') format('woff2'),
         url('montserratalternates-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesXBd';
    src: url('montserratalternates-extrabold-webfont.woff2') format('woff2'),
         url('montserratalternates-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesXLt';
    src: url('montserratalternates-extralight-webfont.woff2') format('woff2'),
         url('montserratalternates-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternateslight';
    src: url('montserratalternates-light-webfont.woff2') format('woff2'),
         url('montserratalternates-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesmedium';
    src: url('montserratalternates-medium-webfont.woff2') format('woff2'),
         url('montserratalternates-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('montserratalternates-regular-webfont.woff2') format('woff2'),
         url('montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatessemibold';
    src: url('montserratalternates-semibold-webfont.woff2') format('woff2'),
         url('montserratalternates-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesthin';
    src: url('montserratalternates-thin-webfont.woff2') format('woff2'),
         url('montserratalternates-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratblack';
    src: url('montserrat-black-webfont.woff2') format('woff2'),
         url('montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.woff2') format('woff2'),
         url('montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextrabold';
    src: url('montserrat-extrabold-webfont.woff2') format('woff2'),
         url('montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'andale_mono_mt_stdbold';
    src: url('andale-mono-mt-std-bold-5923fbb9dcb74-webfont.woff2') format('woff2'),
         url('andale-mono-mt-std-bold-5923fbb9dcb74-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container-fluid .home{
	

}

 .home {
    vertical-align: middle;
    background: url('../images/accueil.png') no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.home .navbar-default {

    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
   

}

.home .navbar-header .navbar-nav > li > a {
    color: #000000;
    font-family: Montserrat, light;
    font-size: 14px;
    position: relative;
    margin-top: 20px;
    text-align: center;


 }

.titre-principal {
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
    font-family: Andale Mono MT Std, bold;

}

.titre-principal img{
	width: 700px;
	margin-left: 300px;

}

.titre-principal h2{
	font-family: Andale Mono MT Std, bold;
	font-size: 32px;
	color: #EC0827;
	letter-spacing: 5px;
	margin-top: 20px;
	text-align: center;
}

.titre-principal h3{
	font-family: Andale Mono MT Std, bold;
	font-size: 30px;
	letter-spacing: 5px;
	margin-top: 30px;
	color: #FFFFFF;
	text-align: center;
}

.btn-rouge {
    background: #EC0827 ;
    color: #ffffff;
    font-family: Montserrat, semibold;
    text-align: center;
    margin-left: 5px;
 }

 .recherche {
    background: #818386;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-top:20px;
    box-shadow: none;
    text-align: center;
    margin-right: : 20px;

 }

 .propulse {
    position: relative;
    margin-right:15px;
    bottom: 0px;
    border: none;
}

 p .align-right.propulse{
    text-align: center;
    margin-left: 10px;
   
}

.align-right.propulse img{
	width: 250px;
	bottom: 100px;
	margin-left: 60px;
	position: relative;
}

section{

    display: flex;
 }


.accueil-paragraphe{
	background-size: cover;
	position: relative;
	text-align: center;
    margin-left: 30px;
    font-family: Montserrat, light;
    font-size: 12px;
}

.section-content {
	background-size: cover;
	position: relative;
	text-align: center;
    margin-left: 80px;
    font-family: Montserrat, light;
    font-size: 12px;
}

h2{
	font-family: Andale Mono MT Std, bold;
	font-size: 20px;
	color: #000000;
}
p{
	font-family: Montserrat, semibold;
	font-size: 12px;
}



.btn-grey {
    background: #818386;
    border-radius: 30px;
    font-family: Montserrat, light;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
}


.banniere {
    height: 300px;
    background-color: #d43456;
}

 .banniere img{
 	width: 280px;
 	height: 280px;
 	margin: auto;
 	padding-top: 10px;

 }


.banniere p {
    position: relative;
    bottom: 0;
}

.btn-orange{
	
	background: #FB9C2F;
    border-radius: 30px;
    font-family: Montserrat, light;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}

.btn-lg {
    padding-top: 20px;
    margin-top: 40px;
    border-radius: 30px;
    width: 300px;
    height: 70px;
    font-size: 18px;
}

.btn-md {
   
    width: 150px;
    height: 40px;
    font-size: 16px;
}


.logo {
    width: 300px;
    height: 300px;
}
.partenaires {
  width: 100%;
  height: 100%;
  margin: 5px;
  padding: 0px;
  position: relative;
}
.titre_partenaires {
  font-family: Montserrat, bold;
  font-size: 30px;
  text-align: center;
  padding: 0px;
}

img { /*logos partenaires */
  margin-top: 25px;
  max-width: 90%;
  height: 90%;
  display: block;
  width: 50%;
}

footer {
    margin: 20px 0 0 0;
    background-color: #F5F5F6;
}

footer .container-fluid{
	display: flex;
	flex-direction: column;
}

footer .navbar-default {
    background-color: #F5F5F6;
    margin-top: 80px;
    width: 100%;
}

ul .navbar.nav{
	text-align: center;
}

ul, li{
	font-family: Montserrat, regular;
	font-size: 14px;
	color: #000000;
}

.img-footer {
    margin: 0 0 0 15px;

}

.social a  {
    border: none;
    background-color: #F5F5F6;
}

input {
	font-family: Montserrat, light;
	font-size: 12px;
    background-color: #F5F5F6;
   margin-top: 10px;
}

.btn-newsletter {
    margin: 10px 0 10px 0;
    font-family: Montserrat, regular;
    font-size: 14px;
    color: #ffffff;
}

.btn-newsletter.btn.btn-rose{
	background-color: #EC0827;
	border-radius: 30px;
}


.paragraphe-newsletter {
    margin: 0px 0 0 0;
}

.align-bottom {
    display: flex;
}

.align-bottom-item {
  display: flex;
  align-items: flex-end;
  margin: 0 0 10px 0;
}

.align-top-item {
  display: flex;
  align-items: flex-start;
  margin: 0 0 10px 0;
}
