body{
	background-color: white;
}
#DJA-filiere-filieres{
	margin : auto;
	width : 600px;
}
h2{
	text-align : center;
	font-size : 40px;
	color : #FB9C2F;
}
#DJA-filiere-image{
    background-color: red;
    width : 100%;
    height : 410px;
    position : relative;
    margin-bottom : 2%;
    margin-top: 1%;
    padding-bottom : 4%;
}
img{
    background-color: red;
    Position : absolute;
    width : 100%;
    height : 100%;
    overflow : hidden;
}
.DJA-filiere-video{
	text-align: center;
}
p{
	color : black;
	padding-bottom : 20px;
	padding-top : 0px;
	margin-right : 20px;
	margin-left : 20px;
}
#DJA-filiere-description{
	margin-left : 2.5%;
    margin-right : 2.5%;
    margin-bottom : 2.5%;
	margin-top: 3%;
}
p{
	text-align : left;
}

.DJA-filiere-btn-gris{
	text-align : center;
	display : inline-block;
	background-color : #8D8D8D;
	border-color : grey;
	color: white;
	width : 213px;
	height : 40px;
	margin-left : 60px;
	margin-bottom : 300px;
	margin-right : 60px;
	margin-top : 20px;
	padding-bottom : 8px;
	border-radius: 40px;
}
a{
	text-align : center;
	color : white;
	text-decoration : none;
	margin-bottom : 10px;
}
