body {
  padding-top: 10px;
  background-color: #ebe9e7;
  }
[class*="col-"], footer, {
  background-color: #ebe9e7;
  text-align: center;
}
.navbar {
text-align: center;
margin: 10px;
}
#en_tete {
  text-align: center;
  margin: 10px;
  padding: 10px;
}
img {
  width: 100%;
}
#menu {
margin-top: 10px;
padding-top: 10px;
}
footer {
  border: 0;
  }
.reseaux {
  display: inline;
  float: left;
  margin-right: 0;
  font-size: 30px;
}
.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter {
  color: #1da1f2;
}
