body{
	background-color : lightgrey;
}
#metiers{
	background-color : #f9B157;
	margin : auto;
	width : 700px;
	height : 40px;
	border-radius : 40px;
}
h1{
	text-align : center;
	color : white;
}
.A{
	display: inline-block;
    background-color: red;
    width : 282px;
    height : 100px;
    margin-left : 43px;
    padding-bottom : 40px;
    content-top: 40px;
    content-right: 20px;
    border-radius : 100px;
}
.B{
	display: inline-block;
    background-color: red;
    width : 282px;
    height : 100px;
    margin-left : 43px;
    padding-bottom : 40px;
    content-top: 40px;
    content-right: 20px;
    border-radius : 100px;
}
p{
	height: 20px;
}
#bouton{
	background-color : grey;
	margin : auto;
	width : 200px;
	height : 30px;
	border-radius : 40px;}
a>p{
	text-align: center;
	color : white;
	text-decoration : none;
	padding-top: 6px;
}
a{
	text-decoration : none;
}