body{
	background: lightgrey
}
#temoignage{
	background-color : #f9B157;
	margin : auto;
	width : 500px;
}
#temoignage>h1{
	color: white;
	text-align: center;
}
#projet{
	background-color : grey;
    float : left;
    width : 500px;
    height : 570px;
    margin-left : 100px;
    margin-right : 20px;
    margin-bottom : 20px;
    content-top: 40px;
    content-right: 20px;
    padding-bottom : 50px;
}
.action{
	background-color : lightgrey;
	width : 380px;
	margin-left : 50px;
    margin-right : 50px;
}
#profil{
	background-color : grey;
    float : right;
    width : 500px;
    height : 570px;
    margin-left : 20px;
    margin-right : 100px;
    margin-bottom : 20px;
    content-top: 40px;
    content-right: 20px;
    padding-bottom : 50px;
}
.p{
	color : black;
	margin-left : 40px;
	margin-bottom : 20px;
	margin-right : 40px;
	margin-top : 20px;
}
p{
	color : black;
	margin-left : 20px;
	margin-bottom : 20px;
	margin-right : 20px;
	margin-top : 20px;
	padding-bottom : 20px;
}
#img{
	background-color : ;
	float: left;
	height : 80px;
	width : 80px;
	margin-right : 220px;
	margin-bottom: 40px;
	margin-left : 220px;
	border-radius : 200px;
}
img{
	width : 80px;
	height : 80px;
	border-radius : 200px;
}
h1{
	text-align : center;
}
h2{
	text-align : center;
}
h3{
	margin-right : 20px;
	margin-left : 20px;
	padding-top : 20px;
}
